.cover-pic{
    width: 100%;
    height: 600px;
}
.cover-pic-text{
    position: absolute;
    top: 250px;
    left: 50px;
    color: white;
    font-size: 30px;
   
}
.cover-text-one{
    font-weight: bold;
    color: black;
}
.cover-text-two{
    font-weight: bold;
    color: black;
    font-size: 20px;
}