.home-pg-img{
    height: 550px;
    width: 100%;
    
}

.sos-bt{
    position: absolute;
    z-index: 3;
    top: 490px;
    height: 100px;
    width: 200px;
}

.sos-text{
    font-size: 50px;
    font-weight: bolder;
}

.sec-div-head{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(5, 87, 5);
}
.sec-div-para{
       text-align: center;
       
}
.img-cover {
  width: 100%;
  height: 220px; 
  object-fit: cover;
 
}
.card-row-size{
    margin-top: 60px;
}
.carousel-im {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto; /* centers the image inside carousel */
}
