.med-img{
    height: 650px;
    width: 100%;
}
.med-supp-float{
    position: absolute;
       top: 320px;
    background-color: rgba(0,0,0,.4);
  padding: 20px;
}

.supp-text-one{
 color: white;
    font-size: 30px;
}

